@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Instructions</h2>
    <p class="lead">Create an MVC/Web API project that will consume the weather web service.
    The User Interface should consist of two input fields: 
    <br/><i class="glyphicon-italic">Country</i> 
    <br/><i class="glyphicon-italic">List of cities for given country</i>
    <br/>
    <br/>When the user enters a country the program should query the web service API which will then populate the cities drop down list. 
    <br/>Once the user selects a relevant city then this will query the web service API which will then display the following information in read only format:
    <br /><i class="glyphicon-italic">Location </i>
    <br /><i class="glyphicon-italic">Time</i>
    <br /><i class="glyphicon-italic">Location </i>
    <br /><i class="glyphicon-italic">Wind</i> 
    <br /><i class="glyphicon-italic">Visibility</i> 
    <br /><i class="glyphicon-italic">Sky conditions</i> 
    <br /><i class="glyphicon-italic">Temperature</i> 
    <br /><i class="glyphicon-italic">Dew Point</i> 
    <br /><i class="glyphicon-italic">Relative Humidity</i> 
    <br /><i class="glyphicon-italic">Pressure</i>
    <br/>
    <br />Please note if the above service didn’t return any data, we use default data for London</p>

</div>
