@model IEnumerable<CountryWeather.Models.Country>
@using System.Web.UI.WebControls;

@{
    var listItems = Model.Select(p=>new ListItem
        {
              Text = p.Name,
              Value = p.Name
        });
}

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@Html.DropDownList("ddCountry", new SelectList(listItems), new { onchange = "getCities(this.options[ this.selectedIndex ].text)", @class = "form-control input-lg" }) 

<p></p>
<div id="loaderDiv" class="loader" hidden="true"></div>

<select id="ssCity" style="display: none;" class="form-control input-lg" onchange="getWeather(this.options[this.selectedIndex].text)">
    <option></option>
</select>

<p></p>
<div id="loaderDiv2" class="loader" hidden="true"></div>

<div id="weatherData" class="form-group"></div>


<script type="text/javascript">

    function getCities(option) {

        //empty weather controls
        $("#weatherData").empty();

        if (option == "_Select a country") {
            document.getElementById("ssCity").style = "display: none;"
            return;
        } else {
            document.getElementById("ssCity").style = "display: block;"
        }

        $("#loaderDiv").show();

        var uri = "/api/Cities/?country=" + option;

        $('#ssCity').empty();

        $.get(uri, function (data) {

            data.forEach(function (item) {
                $('#ssCity').append($('<option>', { value: item, text: item }));
            });

            $("#loaderDiv").hide();

        });
    }

    function getWeather(option) {

        if (option == "_Select a city") {
            $("#weatherData").empty();
            return;
        }

        $("#loaderDiv2").show();

        var control = document.getElementById("ddCountry");
        var country = control.options[control.selectedIndex].text;

        var uri = "/api/Weather/?city=" + option + "&country=" + country;

        $.get(uri, function (data) {

            var controls = [];

            controls.push('<input type="text" readonly="true" class="input-lg" value = "Location: ' + data.name + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Time: ' + (data.time == null ? "not provided" : data.time) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Wind (speed): ' + (data.wind.speed == null ? "not provided" : data.wind.speed) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Visibility: ' + (data.visibility == null ? "not provided" : data.visibility) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Sky conditions: ' + (data.clouds.all == null ? "not provided" : data.clouds.all) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Temperature: ' + (data.main.temp == null ? "not provided" : data.main.temp) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Dew Point: ' + (data.dewPoint == null ? "not provided" : data.dewPoint) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Humidity: ' + (data.main.humidity == null ? "not provided" : data.main.humidity) + '" />');
            controls.push('<input type="text" readonly="true" class="input-lg" value = "Pressure: ' + (data.main.pressure == null ? "not provided" : data.main.pressure) + '" />');

            controls.forEach(function(item){
                $("#weatherData").append(item);
                $("#weatherData").append('&nbsp;');
            })

            $("#loaderDiv2").hide();

        });

    }

</script>

